<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>

    </style>
  </head>
  <body>
    <h1>Hi <%= @user.fullname %></h1>
    <p>
      <% @user.lists.each do |list| %>
        <%= list.name %>
      <% end %>
    </p>
  </body>
</html>